*{
    margin:0px auto;
    padding:0px
}

body{
    position: relative;
    background-color: cadetblue;
}

canvas{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: cornsilk;
}